/*
* @Author: lifangfang
* @Date:   2019-03-22 17:47:25
* @Last Modified by:   lifangfang
* @Last Modified time: 2019-04-09 15:12:42
*/

@import "../../../style/base/variables";
.e-list {
    width: 100%;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0.013rem;
        border-top: 0.013rem solid map-get($colors, 'ec');
    }
}

.e-item {
    padding: 0.133rem 0.267rem;
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    &::after,
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0.013rem;
        border-bottom: 0.013rem solid map-get($colors, 'ec');
    }
    &::before {
        left: 0;
        top: 0;
        right: 0;
        bottom: unset;
        display: none;
    }
    &.bdt::before {
        display: block;
    }

    &.bd-whole::after,
    &.bd-whole::before {
        left: 0;
        right: 0;
    }

    &.bd-incomplete::after,
    &.bd-incomplete::before {
        left: calc(10% + 0.533rem);
        right: 0;
    }
    &.bd-none:after {
        display: none;
    }
}

.e-item.active:active {
    background-color: map-get($colors, 'f5');
}

.e-item.no-padding {
    padding: 0;
    &.bd-incomplete:after {
        left: calc(10% + 0.4rem);
    }
}

.e-item-side {
    flex: 0 0 auto;
    display: flex;
    margin-right: 0.267rem;
    &-left {
        max-width: 20%;
    }
    &-right {
        margin-left: 0.133rem;
        margin-right: 0;
    }
    img {
        max-width: 100%;
    }
}

.e-item-main {
    flex: 1 1 0;
    display: flex;
}
