/*
* @Author: lifangfang
* @Date:   2019-03-27 17:54:24
* @Last Modified by:   lifangfang
* @Last Modified time: 2019-07-11 16:11:32
*/

@import '../../../style/base/variables.scss';
.e-actionsheet-wrap {
    width: 100%;
    padding: 0 0.267rem;
    box-sizing: border-box;

    .main {
        .header {
            padding: 0.267rem 0.4rem 0.267rem;
            text-align: center;
            line-height: 1.5;
            .title{
                font-weight: 700;
            }
        }
        .actionsheet-list,.actionsheet-list-horizontal {
            padding-top: 0.133rem;
            border-radius: 0.133rem;
            margin-bottom: 0.267rem;
        }
        border-radius: 0.133rem;
        background-color: #fff;
    }
    .cancel-wrap {
        margin-bottom: 0.267rem;
    }
    
    .cancel-btn,
    .actionsheet-item {
        height: 1.28rem;
        line-height: 1.28rem;
        width: 100%;
        text-align: center;
        display: block;
        &:active {
            background-color: #efefef;
        }
    }
    .cancel-btn {
        background-color: #fff;
        border-radius: 0.133rem;
    }
    .actionsheet-item.disabled{
        opacity:0.2;
        &:active{
            background-color: unset;
        }
    }
    .actionsheet-list-horizontal{
        padding-bottom: 0.267rem;
        .actionsheet-item{
            line-height: 1.5;
            height: unset;
        }
        .actionsheet-item.disabled{
            opacity: 0.2;
        }
        .icon-img{
            width: 0.933rem;
            height: 0.933rem;
        }
    }
}

