@font-face {
  font-family: 'iconfont';  /* project id 998721 */
  src: url('//at.alicdn.com/t/font_998721_zlt0pj5puce.eot');
  src: url('//at.alicdn.com/t/font_998721_zlt0pj5puce.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_998721_zlt0pj5puce.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_998721_zlt0pj5puce.woff') format('woff'),
  url('//at.alicdn.com/t/font_998721_zlt0pj5puce.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_998721_zlt0pj5puce.svg#iconfont') format('svg');
}
.iconfont {
    font-family: iconfont !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    margin-top: -1px;
}


/*error right*/
.icon-right:before{
  content: '\e8ee';
}
.icon-right-cir:before{
  content: '\e8ed';
}
.icon-right-plain:before{
  content: '\e8ef';
}

.icon-error:before{
  content: '\e8f3';
}
.icon-error-cir:before{
  content: '\e8f1';
}
.icon-error-plain:before{
  content: '\e8f2';
}

/*close*/
.icon-close:before{
  content: '\e8f3';
}
.icon-close-cir:before{
  content: '\e8f1';
}
.icon-close-plain:before{
  content: '\e8f2';
}


/*选中效果*/

.icon-radio:before {
    content: '\e8b8';
}

.icon-check:before {
    content: '\e8ed';
}

.icon-check-plain:before {
    content: '\e8ec';
}

.icon-no-check:before {
    content: '\e8b7';
}




/*箭头*/

.icon-arrow-right:before {
    content: '\e905';
}

.icon-arrow-left:before {
    content: '\e904';
}

.icon-arrow-up:before {
    content: '\e90e';
}

.icon-arrow-down:before {
    content: '\e908';
}



/*脸*/

.icon-face-smile:before {
    content: '\e8e1';
}

.icon-face-cry:before {
    content: '\e8e2';
}

.icon-face-no:before {
    content: '\e8e0';
}



/*图片*/

.icon-pic:before {
    content: '\e8d4';
}

.icon-pic-plain:before {
    content: '\e8d3';
}
.icon-pic-error:before{
    content: '\e619';
}

/*头像*/
.icon-head-cir-default:before{
    content: '\e8c9';
}
.icon-head-default:before{
    content: '\e8c8';
}

/*tip*/
.icon-tip-error-cir:before{
  content: '\e8fc';
}
.icon-tip-error-cir-plain:before{
  content: '\e8fd';
}
.icon-tip-error-triangle:before{
  content: '\e8fb';
}
.icon-tip-error-triangle-plain:before{
  content: '\e8fe';
}
.icon-tip-right-cir:before{
  content: '\e8ed';
}
.icon-tip-right-cir-plain:before{
  content: '\e8ec';
}
