/*
* @Author: lifangfang
* @Date:   2019-07-08 12:05:22
* @Last Modified by:   lifangfang
* @Last Modified time: 2019-07-10 11:53:52
*/
.e-layout {
    height: 100%;
    width: 100%;
    .e-layout-content {
        height: 100%;
        box-sizing: border-box;
        width: 100%;
        -webkit-overflow-scrolling: touch;
        margin-top: -0.013rem;
    }
    .e-header{
    	padding: 0 0.267rem;
    }
}