/*
* @Author: lifangfang
* @Date:   2019-01-08 16:54:27
* @Last Modified by:   lifangfang
* @Last Modified time: 2019-01-17 14:50:12
*/
.e-audio{
	width: 1.507rem;
	height: 1.507rem;
	position: relative;
	display: inline-block;
	&-btn{
		display: flex;
    	justify-content:center;
    	align-items:center;
		border-radius: 50%;
		position: absolute;
		height: 75%;
		width: 75%;
		top:50%;
		left: 50%;
		transform:translate(-50%, -50%); 
	}
}