/*
* @Author: lifangfang
* @Date:   2018-12-19 15:07:35
* @Last Modified by:   lifangfang
* @Last Modified time: 2019-04-03 14:06:48
*/

.e-ajax-bar {
    position: fixed;
    transition: transform 0.5s cubic-bezier(0, 0, 1, 1), opacity 0.5s linear;
    z-index: 1;
}

.e-ajax-bar.no-transiton {
    transition: none !important;
}

.e-ajax-bar-top {
    top: 0;
    left: 0;
    width: 100%;
}

.e-ajax-bar-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
}

.e-ajax-bar-left {
    left: 0;
    top: 0;
    height: 100%;
}

.e-ajax-bar-right {
    right: 0;
    top: 0;
    height: 100%;
}
