/*
* @Author: lifangfang
* @Date:   2019-03-27 17:20:45
* @Last Modified by:   lifangfang
* @Last Modified time: 2019-03-27 17:23:50
*/
.message-box {
    background-color: #fff;
    border-radius: 0.133rem;
    box-sizing: border-box;
    .top {
        min-height: 1.333rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &-image {
            max-width: 50%;
        }
        &-text{
            text-align: center;
        }
    }
    .btn-wrap{
        display: flex;
        justify-content: center;
    }
    .btn {
        width: 3rem;
        height: 0.8rem;
    }

}
.e-alert,.e-confirm {
    width: 6.667rem;
    min-height: 2.667rem;
}
.e-confirm{
	.btn-wrap{
		justify-content:between;
	}
}