/*
* @Author: lifangfang
* @Date:   2019-05-23 14:00:09
* @Last Modified by:   lifangfang
* @Last Modified time: 2019-05-23 14:00:17
*/
.tc {
    text-align: center
}

.tr {
    text-align: right
}

.tl {
    text-align: left
}

.tj {
    text-align: justify
}