/*
* @Author: lifangfang
* @Date:   2019-05-23 14:00:32
* @Last Modified by:   lifangfang
* @Last Modified time: 2019-05-23 14:06:17
*/

.db{
    display: block;
}
.dib{
    display: inline-block;
}
.di{
    display: inline;
}
.dn {
    display: none !important;
}
