/*
* @Author: lifangfang
* @Date:   2018-12-25 15:12:59
* @Last Modified by:   lifangfang
* @Last Modified time: 2019-06-24 16:00:02
*/

@import './variables';
@for $i from 12 through 44 {
    // @if $i%2==0 {
        .font#{$i} {
            font-size: #{$i}px;
        }
        [data-dpr="2"] .font#{$i} {
            font-size: #{$i*2}px;
        }
        [data-dpr="3"] .font#{$i} {
            font-size: #{$i*3}px;
        }
        .lh#{$i}{
			line-height: #{$i}px;
        }
        [data-dpr="2"] .lh#{$i} {
            line-height: #{$i*2}px;
        }
        [data-dpr="3"] .lh#{$i} {
            line-height: #{$i*3}px;
        }
    // }
}

@for $i from  5 through 8{
        .font#{$i*10} {
            font-size: #{$i*10}px;
        }
        [data-dpr="2"] .font#{$i*10} {
            font-size: #{$i*20}px;
        }
        [data-dpr="3"] .font#{$i*10} {
            font-size: #{$i*30}px;
        }
        .lh#{$i*10}{
            line-height: #{$i*10}px;
        }
        [data-dpr="2"] .lh#{$i*10} {
            line-height: #{$i*20}px;
        }
        [data-dpr="3"] .lh#{$i*10} {
            line-height: #{$i*30}px;
        }
}


.lh1{
	line-height: 1;
}
.lh1-5{
	line-height: 1.5;
}
.lh2{
	line-height: 2;
}
.lh2-5{
	line-height: 2.5;
}
.lh3{
    line-height: 3;
}

.f {
    &a {
        font-family: Arial;
    }
    &s {
        font-family: Simsun;
    }
    &w {
        font-family: 'Microsoft Yahei';
    }

    &t {
        font-family: 'Times New Roman';
    }
}

.bold{
    font-weight:700;
}
.italic{
    font-style:italic;;
}
