/*;
* @Author: lifangfang;
* @Date:   2018-12-25 15:14:49;
* @Last Modified by:   lifangfang
* @Last Modified time: 2019-06-05 17:17:46
*/


/*size*/

$sizeList :('5': 0.067rem, '10':0.133rem, '15':0.2rem, '20':0.267rem, '25':0.333rem, '30':0.4rem);


/*color*/

$commonColors:('white':#fff,
);

$textColors:('g3':#333,
'g6':#666,
'g9':#999,
);

$borderColors:('e0':#e0e0e0
);

$bgColors:('f8':#f8f8f8
);

		
$colors:(
);
