/*
* @Author: lifangfang
* @Date:   2019-04-04 16:12:34
* @Last Modified by:   lifangfang
* @Last Modified time: 2019-06-21 15:54:42
*/
.e-cir-progress {
    position: relative;
    .current-ring {
        transition: stroke-dasharray 1s ease-in-out;
    }
    .realtive-path{
        opacity:0.2;
    }
    .cir-progress-circle {
        transform-origin: 50px 50px;
        transition: all 1s ease-in-out;
    }
    .cir-progress-content {
        position: absolute;
        left: 10%;
        top: 10%;
        right: 10%;
        bottom: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .cir-progress-per {
            font-size: 1.8rem;
        }
        .cir-progress-label {
            margin-top: 5%;
        }
    }
}
