/*
* @Author: lifangfang
* @Date:   2019-03-26 10:50:01
* @Last Modified by:   lifangfang
* @Last Modified time: 2019-07-11 15:22:04
*/

.e-scroll {
    overflow: hidden;
    width: 100%;
    height: 100%;
    .e-scroll-main {
        position: relative;
        .pull-down,
        .pull-up {
            width: 100%;
            text-align: center;
            padding: 0.267rem 0.267rem;
            box-sizing: border-box;
            line-height: 2;
        }
    }
}

.e-scroll-page {
    overflow: hidden;
    width: 100%;
    height: 100%;
    .e-scroll-page-main {
        transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); // transition-duration: 500ms; 
        transform: translate(0px, 0px) translateZ(0px);
        transition-duration:500ms;
        &.disabled-animate{
            transition-duration:0ms;
        }
        &:after {
            content: '';
            clear: both;
            display: table;
        }
    }
    .e-scroll-item {
        // display: inline-block;
    }
}

$itemHight:0.933rem;
.e-scroll-pop{
    width: 100%;
    background-color: #fff;
    &-top {
        min-height: 1.2rem;
        border-bottom: 0.013rem solid #e0e0e0;
    }
    &-content {
        height: $itemHight*7;
        position: relative;
        display: flex;
        .time-item {
            height: $itemHight;
            line-height: 0.933rem;
            text-align: center;
        }
        .placeholder {
            height: $itemHight*3;
        }
    }
    .scroller-wrap{
        flex:1;
    }
}