/*
* @Author: lifangfang
* @Date:   2019-06-20 17:16:03
* @Last Modified by:   lifangfang
* @Last Modified time: 2019-07-03 17:53:14
*/
.demo-input{
	height: 1.28rem;
	margin-top: 0.267rem;
}
.input-wrap{
	height: 1.333rem;
}