/*
* @Author: lifangfang
* @Date:   2019-05-17 14:57:36
* @Last Modified by:   lifangfang
* @Last Modified time: 2019-06-24 19:59:25
*/
@import './button.scss';
@import './text.scss';
@import './bg.scss';
@import './comm/example.scss';


@each $theme,$list in $button {
	.#{$theme} {
		@each $key,$var in $list {
			&-#{$key} {
				@each $cssKey,$value in $var {
					#{$cssKey}:$value
				}
			}
		}
	}
}
@each $key,$var in $colors {
	.text-#{$key} {
		color:$var;
	}
	.bg-#{$key} {
		background-color: $var
	}
	.bd-#{$key} {
		border-color: $var
	}
	.stroke-#{$key}{
		stroke:$var;
	}
	.fill-#{$key}{
		fill:$var;
	}

}

.input-wrap{
	height: 1.333rem;
}