/*
* @Author: lifangfang
* @Date:   2019-03-25 14:19:55
* @Last Modified by:   lifangfang
* @Last Modified time: 2019-03-28 14:09:17
*/

@import "../../../style/base/variables";
.e-switch-wrap {
    width: 100%;
    box-sizing: border-box;
    padding: 0.267rem 0.267rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0.013rem;
        border-top: 0.013rem solid map-get($colors,'ec');
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.013rem;
        border-bottom: 0.013rem solid map-get($colors,'ec');
    }
    .e-switch-hd {
        flex: 1;
        display: flex;
        justify-content:flex-start;
    }
    .e-switch-fr {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0.267rem;
    }
    &.no-top-border {
        &:before {
            display: none;
        }
    }
    &.no-bottom-border {
        &:after {
            display: none;
        }
    }
    &.reverse {
        .e-switch-hd{
            padding-left: 0.267rem;
            justify-content:flex-end;
        }
        .e-switch-fr{
            padding-left: 0;
        }
    }
}

.e-switch {
    display: inline-block;
    width: 1.2rem;
    height: 0.667rem;
    background-color: map-get($colors, 'fd');
    border-radius: 9999px;
    transition: background-color 0.1s, border 0.1s;
    box-shadow: 0 0px 0.04rem rgba(0, 0, 0, 0.4);
    position: relative;
    &:after {
        content: '';
        position: absolute;
        border-radius: 50%;
        height: 0.667rem;
        width: 0.667rem;
        background-color: #fff;
        box-shadow: 0 0.013rem 0.04rem rgba(0, 0, 0, 0.4);
        left: 0;
        top: 0;
        transition: left 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
    }
    &.active {
        &:after {
            left: 0.533rem;
        }
    }
    &-blue {
        &.active {
            background-color: map-get($colors, 'blue');
            box-shadow: 0 0px 0.04rem map-get($colors, 'blue');
        }
    }
    &-yellow {
        &.active {
            background-color: map-get($colors, 'yellow');
            box-shadow: 0 0px 0.04rem map-get($colors, 'yellow');
        }
    }
}
