/*
* @Author: lifangfang
* @Date:   2019-03-27 17:54:24
* @Last Modified by:   lifangfang
* @Last Modified time: 2019-04-03 13:56:16
*/

@import '../../../style/base/variables.scss';
.e-actionsheet {
    width: 100%;
    background-color: #fff;
    .actionsheet-list {
        &:before {
            display: none;
        }
    }
    .actionsheet-item {
        line-height: 2;
        &.disabled {
            opacity: 0.6;
        }
    }
    .actionsheet-text {
        text-align: center;
    }
    .actionsheet-cancel-divider {
        height: 0.133rem;
        background: #EFEFF4;
    }
    &-middle {
        width: 7.333rem;
        border-radius: 0.267rem;
    }
}

.e-actionsheet-horizontal {
	
}
