/*
* @Author: lifangfang
* @Date:   2018-12-25 16:48:22
* @Last Modified by:   lifangfang
* @Last Modified time: 2019-01-11 10:59:35
*/

@import "./variables";
.no-bd {
    border: none !important;
}

@each $var in ('', '-top', '-bottom', '-left', 'right') {
    .bd#{$var}-dashed {
        border#{$var}-style: dashed !important;
    }
    .bd#{$var}-dotted {
        border#{$var}-style: dotted !important;
    }
    .bd#{$var}-double {
        border#{$var}-style: double !important;
    }
    .bd#{$var}-solid {
        border#{$var}-style: solid !important;
    }
    .bd#{$var}-groove {
        border#{$var}-style: groove !important;
    }
}

@for $i from 1 through 3 {
    .bd#{$i}px {
        border-width: #{$i}px !important;
    }
    [data-dpr="2"] .bd#{$i}px {
        border-width: #{$i*2}px !important;
    }
    [data-dpr="3"] .bd#{$i}px {
        border-width: #{$i*3}px !important;
    }

    .bdt#{$i}px {
        border-top-width: #{$i}px !important;
    }
    [data-dpr="2"] .bdt#{$i}px {
        border-top-width: #{$i*2}px !important;
    }
    [data-dpr="3"] .bdt#{$i}px {
        border-top-width: #{$i*3}px !important;
    }

    .bdb#{$i}px {
        border-bottom-width: #{$i}px !important;
    }
    [data-dpr="2"] .bdb#{$i}px {
        border-bottom-width: #{$i*2}px !important;
    }
    [data-dpr="3"] .bdb#{$i}px {
        border-bottom-width: #{$i*3}px !important;
    }

    .bdl#{$i}px {
        border-left-width: #{$i}px !important;
    }
    [data-dpr="2"] .bdl#{$i}px {
        border-left-width: #{$i*2}px !important;
    }
    [data-dpr="3"] .bdl#{$i}px {
        border-left-width: #{$i*3}px !important;
    }

    .bdr#{$i}px {
        border-right-width: #{$i}px !important;
    }
    [data-dpr="2"] .bdr#{$i}px {
        border-right-width: #{$i*2}px !important;
    }
    [data-dpr="3"] .bdr#{$i}px {
        border-right-width: #{$i*3}px !important;
    }
}

@each $key,$var in $colors {
    .bd-#{$key} {
        border-color: $var !important;
    }
}
