/*
* @Author: lifangfang
* @Date:   2018-12-25 15:24:05
* @Last Modified by:   lifangfang
* @Last Modified time: 2019-04-03 14:43:54
*/

@import "./variables";
.no-margin{
	margin: 0 !important;
}
@each $val,$size in $sizeList {
	.m#{$val} {
        margin: $size;
    }
	.mt#{$val} {
		margin-top: $size;
	}
	.mb#{$val} {
		margin-bottom: $size;
	}
	.ml#{$val} {
		margin-left: $size;
	}
	.mr#{$val} {
		margin-right: $size;
	}
	.mtb#{$val} {
		margin-top: $size;
		margin-bottom: $size;
	}
	.mlr#{$val} {
		margin-left: $size;
		margin-right: $size;
	}
	.mg#{$val} {
		margin-top: $size;
		margin-bottom: $size;
		margin-left: $size;
		margin-right: $size;
	}
}