/*
* @Author: lifangfang
* @Date:   2019-04-09 11:25:33
* @Last Modified by:   lifangfang
* @Last Modified time: 2019-04-09 11:27:45
*/
.vm{
	vertical-align: middle;
}
.vbs{
	vertical-align: baseline;
}
.vt{
	vertical-align: top;
}
.vb{
	vertical-align: bottom;
}
.vtt{
	vertical-align: text-top;
}
.vtb{
	vertical-align: text-bottom;
}
.vu{
	vertical-align: unset;
}