/*
* @Author: lifangfang
* @Date:   2018-12-25 16:33:59
* @Last Modified by:   lifangfang
* @Last Modified time: 2018-12-25 16:47:25
*/

.hidden {
    visibility: hidden !important;
}

.visible {
    visibility: visible !important;
}

.dn {
    display: none !important;
}

.dib {
    display: inline-block !important;
}

.db {
    display: block !important;
}

.transparent {
    background-color: transparent !important;
}

.opacify0 {
    opacity: 0 !important;
}

.opacity1 {
    opacity: 1 !important;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.overflow {
    &-auto {
        overflow: auto !important;
    }
    &-auto-x {
        overflow-x: auto !important;
    }
    &-auto-y {
        overflow-y: auto !important;
    }
    &-hidden {
        overflow: hidden !important;
    }
    &-hidden-x {
        overflow-x: hidden !important;
    }
    &-hidden-y {
        overflow-y: hidden !important;
    }
    &-scroll {
        overflow: scroll !important;
    }
    &-scroll-x {
        overflow-x: scroll !important;
    }
    &-scroll-y {
        overflow-y: scroll !important;
    }
}
