.example-table{
	width:100%;
	line-height: 2;
	font-size: 0.373rem;
	border:0.013rem solid #ddd;
	thead{
		background-color: #ddd;
	}
	th{
		text-align: center;
		border:0.013rem solid #ddd;
	}
}
.example-table-title{
	text-align: center;
	font-weight: 700;
	line-height: 3;
	color: #333;
}