/*
* @Author: lifangfang
* @Date:   2019-03-22 18:56:10
* @Last Modified by:   lifangfang
* @Last Modified time: 2019-06-24 16:00:37
*/
.e-img-loading{
	img{
		width: 100%;
		height: 100%;
	}
	.placeholder{
		height: 100%;
		width: 100%;
		background-color: #efefef;
		display: flex;
		justify-content:center;
		align-items:center;
	}
}