/*
* @Author: lifangfang
* @Date:   2019-03-22 18:56:10
* @Last Modified by:   lifangfang
* @Last Modified time: 2019-07-03 18:12:03
*/
.e-img-loading{
	img{
		width: 100%;
		height: 100%;
	}
	.placeholder{
		height: 100%;
		width: 100%;
		display: flex;
		justify-content:center;
		align-items:center;
		color:#e5e5e5;
		&.default{
			background-color: #f9f9f9;
		}
	}
}